

// devices width adaptive coding
$device-width-tablet: 1024px;
$device-width-desktop-mini: 1280px;
$device-width-big-tablet: 960px;
$device-width-small-tablet: 768px;
$device-width-mini-tablet: 600px;
